<a href="https://colab.research.google.com/github/Hemanthkumar2143/2024_STAT_ML_assignments/blob/main/Assignment_4_stat_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1.

In [ ]:
Read the data with pandas and find features and target variables

In [4]:
import pandas as pd

# Define the file path
file_path = "/content/sample_data/train.csv"

# Read the data into a DataFrame
df = pd.read_csv(file_path)

# Print the DataFrame
print(df)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [5]:
y=df['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [11]:
x=df.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

Normalize the data with min-max scaling

In [14]:
a=(df-df.min())/(df.max()-df.min())
print(a)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
0          0.227789   0.0         0.68       0.0  0.052632     0.0
1          0.347361   1.0         0.00       1.0  0.000000     1.0
2          0.041416   1.0         0.00       1.0  0.105263     1.0
3          0.076152   1.0         0.80       0.0  0.000000     0.0
4          0.881764   1.0         0.28       0.0  0.684211     1.0
...             ...   ...          ...       ...       ...     ...
1995       0.195725   1.0         0.00       1.0  0.000000     1.0
1996       0.977956   1.0         0.84       1.0  0.000000     0.0
1997       0.941884   0.0         0.16       1.0  0.052632     1.0
1998       0.675351   0.0         0.16       0.0  0.210526     1.0
1999       0.006012   1.0         0.60       1.0  0.263158     1.0

      int_memory     m_dep  mobile_wt   n_cores  ...  px_height  px_width  \
0       0.080645  0.555556   0.900000  0.142857  ...   0.010204  0.170895
1       0.822581  0.666667   0.466667  0.285714  ...   0.461735  0.993324
2       0.629032  0.888889   0.541667  0.571429  ...   0.644388  0.811749
3       0.129032  0.777778   0.425000  0.714286  ...   0.620408  0.858478
4       0.677419  0.555556   0.508333  0.142857  ...   0.616327  0.475300
...          ...       ...        ...       ...  ...        ...       ...
1995    0.000000  0.777778   0.216667  0.714286  ...   0.623469  0.927904
1996    0.596774  0.111111   0.891667  0.428571  ...   0.466837  0.977971
1997    0.548387  0.666667   0.233333  1.000000  ...   0.442857  0.755674
1998    0.709677  0.000000   0.541667  0.571429  ...   0.171429  0.113485
1999    0.693548  0.888889   0.733333  0.714286  ...   0.246429  0.169559

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi  \
0     0.612774  0.285714  0.388889   0.944444      0.0           0.0   1.0
1     0.634687  0.857143  0.166667   0.277778      1.0           1.0   0.0
2     0.627205  0.428571  0.111111   0.388889      1.0           1.0   0.0
3     0.671566  0.785714  0.444444   0.500000      1.0           0.0   0.0
4     0.308658  0.214286  0.111111   0.722222      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1995  0.110102  0.571429  0.222222   0.944444      1.0           1.0   0.0
1996  0.474613  0.428571  0.555556   0.777778      1.0           1.0   1.0
1997  0.748530  0.285714  0.055556   0.166667      1.0           1.0   0.0
1998  0.163816  0.928571  0.555556   0.944444      1.0           1.0   1.0
1999  0.978888  1.000000  0.222222   0.000000      1.0           1.0   1.0

      price_range
0        0.333333
1        0.666667
2        0.666667
3        0.666667
4        0.333333
...           ...
1995     0.000000
1996     0.666667
1997     1.000000
1998     0.000000
1999     1.000000

[2000 rows x 21 columns]

Split the data into train and test.

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1239           1240     0          1.6         0   0       0          39
426            1190     1          2.2         1   9       0          47
1249            504     1          2.8         1   2       0          54
727            1590     0          0.6         1   0       0           7
800            1439     0          0.9         0  12       1          20
...             ...   ...          ...       ...  ..     ...         ...
1016            551     1          2.8         0   0       1          54
165             517     0          1.4         1   3       1          33
7              1954     0          0.5         1   0       0          24
219            1551     0          1.1         0   4       0          51
1350           1398     0          1.6         1   8       1          26

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1239    0.1        146        2   9       1511      1756  3260    13     1
426     0.3        186        6  10       1417      1441   624     9     3
1249    0.4        163        2  10       1207      1539  2378    17    11
727     0.3        122        3  17       1464      1595  1201    12     3
800     0.8        147        1  17        626       932  1790    19    12
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1016    0.1        172        7  15        169      1916  1414     6     1
165     0.8        183        4   8        660       974  3704    17    16
7       0.8        187        4   0        512      1149   700    16     3
219     0.1         88        5   6       1738      1995  3844    11     8
1350    0.8        150        1  12        755      1284  3488    14     3

      talk_time  three_g  touch_screen  wifi
1239         17        0             0     1
426          19        1             1     1
1249          2        1             0     0
727          18        1             1     1
800          15        1             0     1
...         ...      ...           ...   ...
1016         19        1             0     1
165          11        1             0     1
7             5        1             1     1
219           4        0             1     0
1350         11        1             1     0

[1600 rows x 20 columns]
1239    3
426     0
1249    2
727     1
800     1
       ..
1016    0
165     3
7       0
219     3
1350    3
Name: price_range, Length: 1600, dtype: int64
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
423            1681     1          2.5         0   2       0          11
1495           1472     0          3.0         0   4       1          20
1618            502     0          0.8         0   7       0          52
1099           1697     0          0.5         0   0       1          60
1307            831     0          1.7         1   7       1          26
...             ...   ...          ...       ...  ..     ...         ...
739            1303     0          1.0         1   0       1          15
1379            771     0          2.9         0   2       0          62
837             787     1          0.5         0  15       0          11
877            1444     0          0.6         0   2       0          48
828            1965     0          0.5         0   6       1           4

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
423     0.4        158        2  13        195      1205  1122    12     6
1495    0.3        169        2   6        443       892   797     6     1
1618    1.0         82        6   8        281      1159  2666     5     4
1099    0.1         90        4   0         88      1046   441    15     1
1307    0.7        177        5  11        511       621  1704     6     5
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
739     0.1        138        3  10        229      1604  2574    12     4
1379    0.7        106        1   8       1709      1781  1628     9     3
837     0.6         93        1  16        806      1423  2934     8     6
877     0.5         82        5  17       1092      1554  2540    17     2
828     1.0         84        7   9        977      1660  3535    17     0

      talk_time  three_g  touch_screen  wifi
423          16        0             1     1
1495         11        1             1     0
1618         20        1             1     0
1099         11        1             1     0
1307         20        1             1     1
...         ...      ...           ...   ...
739          14        1             1     1
1379          6        0             1     0
837          14        1             0     1
877          15        1             1     1
828          16        1             1     1

[400 rows x 20 columns]
423     0
1495    0
1618    2
1099    0
1307    0
       ..
739     2
1379    1
837     2
877     3
828     3
Name: price_range, Length: 400, dtype: int64

Question.2

Read the data with pandas and describe the data

In [20]:
import pandas as pd

# Define the file path
file_path = "/content/sample_data/california_housing_train.csv"

# Read the data into a DataFrame
df = pd.read_csv(file_path)

# Print the DataFrame
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [21]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Find data type and shape of each column

In [22]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [23]:
df.shape

(17000, 9)

Find the target and features

In [24]:
y=df['median_house_value']
print(y)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

Find the null values (if yes fill the null values with 0 or mean of that column)

In [25]:
df_filled_zero=df.fillna(0)
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

Normalize all the features

In [27]:
x=df.drop('median_house_value',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

Split the data into train and test.

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2829     -117.72     33.54                13.0       4866.0           812.0
3939     -117.96     33.94                31.0       2397.0           518.0
4367     -118.02     33.95                36.0       1632.0           295.0
13073    -121.87     37.32                39.0       1839.0           471.0
16529    -122.66     39.02                16.0       3715.0           810.0
...          ...       ...                 ...          ...             ...
11532    -121.27     38.74                19.0       3869.0           887.0
16065    -122.45     37.77                52.0       2602.0           714.0
14501    -122.14     37.50                46.0         30.0             4.0
14555    -122.15     37.42                44.0       3558.0           839.0
11590    -121.28     38.55                35.0       7088.0          1279.0

       population  households  median_income
2829       1909.0       733.0         4.9821
3939       1407.0       476.0         2.6641
4367        797.0       283.0         4.2292
13073      1528.0       456.0         2.6818
16529       943.0       510.0         1.7446
...           ...         ...            ...
11532      2086.0       685.0         2.6065
16065      1330.0       647.0         3.5435
14501        13.0         5.0        15.0001
14555      1779.0       832.0         3.9243
11590      4885.0      1272.0         2.6981

[13600 rows x 8 columns]
2829     244800.0
3939     185200.0
4367     179500.0
13073    184900.0
16529    109400.0
           ...
11532    154900.0
16065    278600.0
14501    500001.0
14555    404800.0
11590    112500.0
Name: median_house_value, Length: 13600, dtype: float64
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12345    -121.52     38.51                23.0       6876.0          1456.0
14035    -122.05     37.96                35.0       2190.0           384.0
8037     -118.42     34.18                31.0       2887.0           646.0
6612     -118.28     33.98                39.0       1306.0           345.0
1732     -117.25     33.21                 9.0       1944.0           488.0
...          ...       ...                 ...          ...             ...
9780     -119.67     34.42                23.0       1333.0           393.0
6086     -118.23     34.23                34.0       2377.0           362.0
2312     -117.45     33.91                29.0       2320.0           422.0
15706    -122.39     37.72                52.0        135.0            34.0
16335    -122.51     37.99                32.0       4138.0           632.0

       population  households  median_income
12345      2942.0      1386.0         3.0963
14035      1154.0       401.0         3.8456
8037       1626.0       637.0         3.6745
6612       1332.0       331.0         1.9564
1732       1992.0       453.0         2.0660
...           ...         ...            ...
9780       1369.0       381.0         2.5947
6086       1055.0       362.0         6.0000
2312       1358.0       415.0         3.7333
15706        93.0        26.0         2.1484
16335      1541.0       626.0         5.5791

[3400 rows x 8 columns]
12345    156900.0
14035    159800.0
8037     335500.0
6612      92200.0
1732     127200.0
           ...
9780     232600.0
6086     367100.0
2312     121400.0
15706    181300.0
16335    433300.0
Name: median_house_value, Length: 3400, dtype: float64